

/*Fontes*/
@font-face{
	font-family: "GoSpeed"
	src: url(GoSpeed.ttf);
}



body{
	background: linear-gradient(to right, #36204E 40%, #984673 110%)
}

#barraNavegacao{
	background-color: #F8F7F4
}

#marcaNavegacao{
	font-size: 35px;
}

#CV{
	line-height: 0.2;
}

.carta{
	height: 650px;
}

#Kicad{
	padding-top: 80px;
}

#Java{
	padding-top: 60px;
}

#C{
	margin-top: 0px;
}

#ISE{
	margin-top: 88px;
}

#matlab{
	margin-top: 90px;
	margin-bottom: 67px;
}

#botaoCarta:hover{
	box-shadow: 0 0 1em grey;
}

#botaoVoltar{
	display: none; /*Esconder predefinição*/
	position: fixed; /*Posição fixa*/
	bottom: 20px; 
	right: 5px;
	z-index: 99; /*Certificar no-overlap*/
	border: none;
	outline: none;
	background-color: white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 18px;
}

#botaovoltar:hover{
	background: grey;
}

#voltaInicio{
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
}

#voltaInicio:hover{
	cursor: pointer;;
	background: #333;
}

#voltaInicio.show{
	opacity: 1;
	visibility: visible;;
}
