/*Fontes*/
@font-face{
	font-family: "GoSpeed"
	src: url(GoSpeed.ttf);
}



body{
	background: linear-gradient(to right, #36204E 40%, #984673 110%)
}

#barraNavegacao{
	background-color: #F8F7F4
}

#marcaNavegacao{
	font-size: 35px;
}

#CV{
	line-height: 0.2;
}

#Contactos{
	background: linear-gradient(to bottom, #928fce 10%, #4b3987 75%);
	color: #FFFFFF;
}

#email{
	width: 300px;
	height: 25px;
}

#mensagem{
		width: 500px;
}

.linkedin{
	background: linear-gradient(to bottom, #3a5998 25%, #dfe3ee 120%);
	color: #000000;
}

.linkedin:hover{
	background: linear-gradient(to bottom, #3a5998 25%, #dfe3ee 120%);
	box-shadow: 0 0 1em grey;
}